<div class ="body">
  <div class = "post-container">
      <article>
        <div class="gravatar-wrapper">
          <section class ="name-gravitar">
            <div friend-div>
              <%= gravatar_for @user %>
              <h1 class ="h1"> <%= @user.name.capitalize %> </h1>
            </div>
          </section>
          <section>
            <% if current_user.id == @user.id%>

            <% elsif @sender.nil? && @receiver.nil?%>
                <%= link_to "Add as friend", add_path(@user.id), class: "accept" %>
            <% elsif !@sender.nil? && !@sender.confirmed && current_user.id = @sender.id %>
              <%= link_to "Cancel request", cancel_path(@user.id), class: "ignore" %>
            <% elsif @receiver.nil? && @sender.confirmed || @receiver.confirmed %>
              <%= link_to "Remove friend", remove_path(@user.id), class: "ignore" %>
            <% elsif !@receiver.nil? %>
            <%= link_to "Accept friend", accept_path(@user.id), class: "accept" %>
            <%= link_to "Ignore friend", ignore_path(@user.id), class: "ignore" %>
            <% end %>
          </section>
        </div>
      </article>
      <nav>
        <ul class="nav-profile">
          <%= link_to "<li>Posts</li>".html_safe, user_posts_path, remote: true %>
          <%= link_to "<li>Friends</li>".html_safe, friends_path(params[:id]), remote: true %>
          <% if current_user.id == @user.id %>
            <%= link_to "<li>New friends</li>".html_safe, find_friends_path(current_user.id), remote: true %>
            <%= link_to "<li>Friend Requests</li>".html_safe, requests_path(current_user.id), remote: true %>
          <% end %>
        </ul>
      </nav>
      <div id="partial-render">
      </div>
</div>
