
  <aside>
    <div>
      <article>
        <section class ="name-gravitar">
          <div> <h1> <%= @user.name.capitalize %> </h1> </div>

          <div> <%= gravatar_for @user %> </div>
        </section>
        <section>
          <% if current_user.id == @user.id && @requests.any? %>

            <h1> Friend requests </h1>
            <%= flash[:warning] %>
            <% @requests.each do |request| %>
              <%= request.name %>
              <%= link_to "Accept friend", accept_path(request.id) %>
              <%= link_to "Ignore friend", ignore_path(request.id) %>
              <br> <br>
            <% end %>
            <% elsif current_user.id == @user.id%>

          <% elsif @sender.nil? && @receiver.nil?%>
              <%= link_to "Add as friend", add_path(@user.id)%>        
          <% elsif !@sender.nil? && !@sender.confirmed && current_user.id = @sender.id %>
            <%= link_to "Cancel request", cancel_path(@user.id) %>
          <% elsif @receiver.nil? && @sender.confirmed || @receiver.confirmed %>
            <%= link_to "Remove as friend", remove_path(@user.id) %>
          <% elsif !@receiver.nil? %>
          <%= link_to "Accept friend", accept_path(@user.id) %>
          <%= link_to "Ignore friend", ignore_path(@user.id) %>
          <% end %>
        </section>
        <section>
          <h1> Friends </h1>
          <br>
          <% @friends.each do |friend| %>
            <%= link_to "#{friend.name.capitalize}", profiles_path(friend.id) %>
            <div> <%= gravatar_for friend %> </div>
            <% if current_user.id == @user.id %>
            <%= link_to "Remove friend", ignore_path(friend.id) %>
            <% end %>
            <br> <br>
          <% end %>
        </section>
      </article>
    </div>
  </aside>
  <main>
    <div>
      <% @posts.each do |post|%>
        <br>
        <article>
        <span><%= link_to "#{post.user.name.capitalize}", profiles_path(post.user.id), class: "link_profile"%>
          <span class="time-post"><%= time_ago_in_words(post.created_at) %> ago.</span></span>
      <p class="p-post"> <%= post.content %> </p>
      <div>
      <%= link_to image_tag("thumbs-up.svg", width: 20), likes_path(post.id) %>
      <%= post.likes_count %>
    </div>
          <% if flash.any? %>
              <ul>
                <% flash.each do |type,obj| %>
                  <% if type == "comment_errors" && post.id == obj[1]%>
                  <li><%= obj[0][0] %></li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          <% post.comments.each do |comment| %>

            <div class="comments">
            <span><%= link_to comment.user.name, profiles_path(comment.user.id), class: "link_profile" %>
              <%= comment.content %></span>
          </div>
          <% end %>
          <br>
          <%= form_for(@comment) do |f| %>
            <%= f.text_area :content, class: "comment", placeholder: "Say something!" %>
            <%= f.hidden_field :post_id, value: post.id %>
            <%= f.submit "Comment", class: "comment-button" %>
          <% end %>
        </article>
      <% end %>
    <div>
  </main>
