<h1> <%= @user.name %> </h1>

<% if current_user.id == @user.id %>
  <h1> Friend requests </h1>
  <%= flash[:warning] %>
  <% @requests.each do |request| %>
    <%= request.name %>
    <%= link_to "Accept friend", accept_path(request.id) %>
    <%= link_to "Ignore friend", cancel_path(request.id) %>
  <% end %>
<% elsif @sender.nil? && @receiver.nil? %>
  <%= link_to "Add as friend", add_path(@user.id) %>
<% elsif !@sender.nil? && !@sender.confirmed && current_user.id = @sender.id %>
    <%= link_to "Cancel request", cancel_path(@user.id) %>
<% elsif @receiver.nil? && @sender.confirmed || @receiver.confirmed %>
  <%= link_to "Remove friend", cancel_path(@user.id) %>
<% end %>
