<div class ="body">
  <div class = "post-container">
      <article>
        <div class="gravatar-wrapper">
          <%= image_tag("backprofile.jpg", class: "img-profile") %>
          <section class ="name-gravitar">
            <div friend-div>
              <%= gravatar_for @user %>
              <h1 class ="h1"> <%= @user.name.capitalize %> </h1>
            </div>
          </section>
          <section id="render-friend-request">
            <% if current_user.id == @user.id%>

            <% elsif @sender.nil? && @receiver.nil?%>
                <%= link_to "Add friend", add_profile_path(@user.id), class: "accept", remote: true %>
            <% elsif !@sender.nil? && !@sender.confirmed && current_user.id = @sender.id %>
              <%= link_to "Cancel request", cancel_path(@user.id), class: "ignore" %>
            <% elsif @receiver.nil? && @sender.confirmed || @receiver.confirmed %>
              <%= link_to "Remove friend", remove_path(@user.id), class: "ignore" %>
            <% elsif !@receiver.nil? %>
            <%= link_to "Accept friend", accept_path(@user.id), class: "accept" %>
            <%= link_to "Ignore friend", ignore_path(@user.id), class: "ignore" %>
            <% end %>
          </section>
        </div>
      </article>
      <nav class="normal-resolution">
        <ul class="nav-profile">
          <%= link_to "<li><span class='glyphicon glyphicon-list'></span> <div>Posts</div></li>".html_safe, user_posts_path(params[:id]), remote: true %>
          <%= link_to "<li><span class='glyphicon glyphicon-user'></span> <div>Friends</div></li>".html_safe, friends_path(params[:id]), remote: true %>
          <% if current_user.id == @user.id %>
            <%= link_to "<li><span class='glyphicon glyphicon-user first-glyphicon'><span class='glyphicon glyphicon-plus second-glyphicon'></span></span> <div>New friends</div></li>".html_safe, find_friends_path(current_user.id), remote: true %>
            <%= link_to "<li><span class='glyphicon glyphicon-user first-glyphicon'><span class='glyphicon glyphicon-th-list second-glyphicon'></span></span> <div>Friend requests <span id='notification_count3'></span></div></li>".html_safe, requests_path(current_user.id), remote: true %>
          <% end %>
        </ul>
      </nav>

      <nav class="small-resolution">
        <ul class="nav-profile">
          <%= link_to "<li><span class='glyphicon glyphicon-list'></span></li>".html_safe, user_posts_path(params[:id]), remote: true %>
          <%= link_to "<li><span class='glyphicon glyphicon-user'></span></li>".html_safe, friends_path(params[:id]), remote: true %>
          <% if current_user.id == @user.id %>
            <%= link_to "<li><span class='glyphicon glyphicon-user first-glyphicon'><span class='glyphicon glyphicon-plus second-glyphicon'></span></span> </li>".html_safe, find_friends_path(current_user.id), remote: true %>
            <%= link_to "<li><span class='glyphicon glyphicon-user first-glyphicon'><span class='glyphicon glyphicon-th-list second-glyphicon'></span><span id='notification_count4'></span></span></li>".html_safe, requests_path(current_user.id), remote: true %>
          <% end %>
        </ul>
      </nav>
      <div id="partial-render">
        <%= render 'posts' %>
      </div>
</div>
