<main class = "log-in-main">
  <article class = "log-in-article">
  <div class ="messages"> <h2>Forgot your password?</h2> </div>

    <div class="error-style">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
    </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <div class="reset-button"> <%= f.submit "Send me reset password instructions" %> </div>
      </div>
    <% end %>

    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </article>
</main>