<h1>Posts</h1>

<h2>Create a post!</h2>

<%= form_for(@post) do |f|%>
  <%= f.text_area :content %>
  <%= f.submit "Post"%>
  <% end %>

  <% @posts.each do |post|%>
    <br>
    <%= "#{post.user.name}: " %>
    <%= post.content %>
    <br> 
    <% end %>

    <%= link_to "Sign out",  destroy_user_session_path, method: :delete %>
    <%= link_to "Edit profile", edit_user_registration_path %>
