<h1>Posts</h1>

<h2>Create a post!</h2>

<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |msg|%>
    <%= msg %>
    <br>
    <% end %>
<% end %>

<%= form_for(@post) do |f|%>
  <%= f.text_area :content %>
  <%= f.submit "Post"%>
<% end %>

<% @posts.each do |post|%>
  <br>
  <%= link_to "#{post.user.name}:", profiles_path(post.user.id) %>
  <%= post.content %>
  <div>
    <%= link_to "Likes:", likes_path(post.id) %>
    <%= post.likes_count %>
  </div>
   <% if flash.any? %>
      <ul>
        <% flash.each do |type,obj| %>
          <% if type == "comment_errors" && post.id == obj[1]%>
           <li><%= obj[0][0] %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% post.comments.each do |comment| %>
   
    <div class="comments">
      <%= comment.content %>
    </div>
  <% end %>
  <br>
  <%= form_for(@comment) do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.submit "Comment" %>
  <% end %>
<% end %>

<%= link_to "Sign out",  destroy_user_session_path, method: :delete %>
<%= link_to "Edit profile", edit_user_registration_path %>
<%= link_to "View Profile", profiles_path(current_user.id) %>
