<!DOCTYPE html>
<html>
  <head>
    <title>BuildingFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render 'shared/header' unless current_user.nil?%>
    <script type="text/javascript">
      let a = document.getElementById("changeIcon");
      let nav = document.getElementById("nav-menu-show");
      let img_menu = document.getElementById("img_menu");
      change = 1;

      a.onclick = function() {

        if(change == 2){
          nav.style.display = 'none';
          //img_menu.src = "/assets/bars.svg";
          img_menu.className = "glyphicon glyphicon-menu-hamburger";
          change = 1;
        }else{
          nav.style.display = 'block';
          img_menu.className = "glyphicon glyphicon-remove";
          change = 2;
        }
      }

      window.setInterval(function () {
        $.ajax({
          type: "POST",
          url: "/notify",
          dataType: 'json',
          success: function(data, textStatus, jqXHR){
            if(data.notifications > 0){
              $("#notification_count").html(data.notifications);
              $("#notification_count2").html(data.notifications);
              $("#notification_count3").html(data.notifications);
              $("#notification_count4").html(data.notifications);
              document.getElementById("notification_count").style.background = "red"
              document.getElementById("notification_count2").style.background = "red"
              document.getElementById("notification_count3").style.background = "red"
              document.getElementById("notification_count4").style.background = "red"
            }else{
              $("#notification_count").html("");
              $("#notification_count2").html("");
              $("#notification_count3").html("");
              $("#notification_count4").html("");
              document.getElementById("notification_count").style.background = "none"
              document.getElementById("notification_count2").style.background = "none"
              document.getElementById("notification_count3").style.background = "none"
              document.getElementById("notification_count4").style.background = "none"
            }
          },
          error: function(jqXHR, textStatus, errorThrown){}
        });
      }, 1000);
    </script>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
