<!DOCTYPE html>
<html>
  <head>
    <title>BuildingFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render 'shared/header' unless current_user.nil?%>
    <script type="text/javascript">
      $.ajax({
        type: "POST",
        url: "/notify",
        dataType: 'json',
        success: function(data, textStatus, jqXHR){
          $("#notification_count").html(data.notifications);
          $("#notification_count2").html(data.notifications);
          $("#notification_count3").html(data.notifications);
        },
        error: function(jqXHR, textStatus, errorThrown){}
      });

      let a = document.getElementById("changeIcon");
      let nav = document.getElementById("nav-menu-show");
      let img_menu = document.getElementById("img_menu");
      change = 1;

      a.onclick = function() {
        if(change == 2){
          nav.style.display = 'none';
          img_menu.src = "/assets/bars.svg";
          change = 1;
        }else{
          nav.style.display = 'block';
          img_menu.src = "/assets/cross.svg";
          change = 2;
        }
      }

      window.setInterval(function () {
        $.ajax({
          type: "POST",
          url: "/notify",
          dataType: 'json',
          success: function(data, textStatus, jqXHR){
            $("#notification_count").html(data.notifications);
            $("#notification_count2").html(data.notifications);
          },
          error: function(jqXHR, textStatus, errorThrown){}
        });
      }, 1000);
    </script>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
